h1{
    text-align: center;
    /* margin-left:280px; */
    }
    
    #t{
        display: block;margin:0 auto;
        text-align: center;
    }
    .abc{
        text-align: center;
    }
    
    
    .y{
         margin-left: 3em;
         margin-right: 3em;
         text-align: center;
    }
    body{
      background-image: linear-gradient(60deg,#faf0af,#ffbcbc);
      align: center;
    }
    .container{
      text-align: center;
      padding-top: 5%;
    width:80%;
    height:3200px;
    background-image: linear-gradient(60deg,#ffbcbc,#faf0af);
    margin:auto;
    border: 8px solid #fff;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.5);
    }
    .submit_btn{
    
      font-size: 22px;
      border-radius: 5px;
    
    }